<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>east</servlet-name>
		<servlet-class>com.servlet.switchString.BillSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>east</servlet-name>
		<url-pattern>/billurl</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>billdetails.html</welcome-file>
	</welcome-file-list>
</web-app>